nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #007fff;
    color: #fff;
    padding: 1em;
    z-index: 1000;
}

.nav-content {
    display: flex;
    flex: 1;
}

.nav-title {
    flex: 0 0 70%;
}

h1 {
    color: #fff;
    float: left;
    width: 70%;
}

button {
    background-color: #007fff;
    color: #fff;
    border: 1px solid #fff;
    padding: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
}

button#btn_addTask {
    flex: 1;
}

/* Add this rule to make it work on mobile */
@media only screen and (max-width: 768px) {
    .nav-title {
        flex: 1;
        margin-bottom: 60px;
    }

    button {
        padding: 0.5em;
        width: 100%;
    }

    button#btn_addTask {
        flex: 0.5;
    }
}